{% extends './base.html' %}

{% block title %} {% endblock %}

{% block body %}
<body>
    <h1 class="text-center mt5 mb-5 text-primary">SIGAI</h1>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-3 shadow-div img-container" >
                <a href="/citacion_pendiente"><img src="{{url_for('static', filename='img/citación.png')}}" width="300" height="500" ></a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow-div img-container">
                <a href="/cronograma"><img src="{{url_for('static', filename='img/cronograma.png')}}" width="300" height="500" ></a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow-div img-container">
                <a href="#"><img src="{{url_for('static', filename='img/descargos.png')}}" width="300" height="500" ></a>
            </div>
            <div class="col-12 col-md-6 col-lg-3 shadow-div img-container">
                <a href="#"><img src="{{url_for('static', filename='img/resultados.png')}}" width="300" height="500" ></a>
            </div>
        </div>  
    </div>
</body>
{% endblock %}
