{% extends './base.html' %}

{% block title %} {% endblock %}

{% block body %}
<body>
    <h1 class="text-center mt5 mb-5 text-primary">SIGAI</h1>
    <div class="container mt-5">
       <div class="card-body">
                <form id="registro" action="/register_on" method="POST" enctype="multipart/form-data">  
                    {{form.csrf_token}} <!--para proteger el formulario contra ataques CSRF.-->
                    {{form.hidden_tag()}} <!--renderiza campos ocultos adicionales relacionados con el CSRF.-->
                    <div class="text-white-emphasis bg-secondary-subtle">
                            <h1 class="text-center text-style mb-5 text-white">Ingresa tus datos</h1>
                    </div>
                    <div class="row mb-4"> 
                        <div class="col">
                            <select id="inputState" class="form-select" name="tipo_doc"  >
                                <option disabled selected>Tipo de documento...</option>
                                    {% for d in tipo_doc %}
                                    <option value="{{d.idtipo_documento}}">{{d.tipo_documento}}</option>
                                    {% endfor %}
                            </select>
                                <p id="opcionSeleccionada"></p>
                        </div> 
                        <div class="col">
                          {{form.num_documento()}}
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                           {{form.p_nombre()}}
                        </div>  
                        <div class="col">
                            {{form.s_nombre()}}
                        </div>
                        <div class="col">
                            {{form.p_apellido()}} 
                        </div>
                        <div class="col">
                            {{form.s_apellido()}} 
                        </div>
                    </div>
                    <div class="row md-2">
                        <div class="col">
                            {{form.correo()}} 
                        </div>
                        <div class="col">
                            <div class="col">
                                {{form.telefono()}} 
                            </div>
                            <p id="opcionSeleccionada"></p>
                        </div>
                    </div>
                    <div class="row md-2">
                        <div class="col md-4">
                            <select class="form-select" id="miLista1" name="ficha" onchange="mostrarSeleccion()">
                                <option selected>Ficha...</option>
                                {% for d in ficha %}
                                <option value="{{d.idficha}}">{{d.nom_ficha}}</option>
                                {% endfor %}
                            </select>
                            <p id="opcionSeleccionada"></p>
                        </div>
                        <div class="col md-4">
                            <select class="form-select" id="miLista2" name="competencia" onchange="mostrarSeleccion()">
                                <option selected></option>
                                <option disabled selected>Competencia...</option>
                                {% for d in competencia %}
                                <option value="{{d.idcompetencia}}">{{d.competencia}}</option>
                                {% endfor %}
                            </select>
                            <p id="opcionSeleccionada"></p>
                        </div>
                        <div class="col md-4">
                            <select class="form-select" id="resultado" name="resultado" onchange="mostrarSeleccion()">
                                <option selected></option>
                                <option disabled selected>Resultado...</option>
                                {% for d in resultado %}
                                <option value="{{d.idresultado}}">{{d.resultado}}</option>
                                {% endfor %}
                            </select>
                            <p id="opcionSeleccionada"></p>
                        </div>
                        <div class="col md-4">
                            <select class="form-select" id="instructor" name="instructor" onchange="mostrarSeleccion()">
                                <option selected></option>
                                <option disabled selected>Instructor...</option>
                                {% for d in instructor %}
                                <option value="{{d.idinstructor}}">{{d.instructor}}</option>
                                {% endfor %}
                            </select>
                            <p id="opcionSeleccionada"></p>
                        </div>
                    </div>
                    <div class="row md-2">
                        <div class="col">
                            <select class="form-select" id="gestor" name="gestor" onchange="mostrarSeleccion()">
                                <option selected></option>
                                <option disabled selected>Gestor de grupo...</option>
                                {% for d in instructor %}
                                <option value="{{d.gestor}}">{{d.gestor}}</option>
                                {% endfor %}
                            </select>
                            <p id="opcionSeleccionada"></p>
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                    <div class="row md-2">
                        <div class="col">
                            <label> Fecha de solicitud</label> <input type="date" class="form-control" id="fecha_sol"  name="fecha_sol" required> 
                        </div>
                        <div class="col"></div>
                        <div class="col"></div>
                        <div class="col"></div>
                    </div>
                    <br>
                    <div class="row md-2">
                        <div class="col" class="form-control" id="file"  name="observacion" required>
                            {{form.observacion()}} 
                        </div>
                    </div>
                    <div class="row md-4">
                        <div class="col">
                            <label>Agregar formato de solicitud</label>
                            <input type="file" class="form-control" id="file"  name="file" required>
                        </div>
                    </div>
                    <br>
                    <div class="row md-4">
                        <div class="col-6 col-sm-4">
                            <input type="submit" class="btn btn-secondary" value="Enviar solicitud" id="enviar">
                        </div>
                    </div>
                </form>
            </div>
    </div>  
    </div>
</body>
{% endblock %}